* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.header, .footer {
	height: 70px;
	background-color: rgba(196, 196, 196, 0.75);
	display: flex;
	align-items: center;
}

.footer {
	margin-top: 183px;
}

.nav {
	width: 1025px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.logo {
	font-size: 40px;
	line-height: 48px;
	color: #3A3A3A;
}

.custom-search {
	width: 295px;
	height: 45px;
	background-color: #fff;
	position: relative;
}

.search-input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 0 15px 0 41px;
}

.search-input::placeholder {
	padding: 12px 0 12px 0;
	font-size: 14px;
}

.icon-search {
	position: absolute;
	top: 12px;
	left:9px;
}

.icon-search:before {
	font-size: 25px;
	color: #3A3A3A;
}

.gallery {
	width: 1025px;
	margin: 0 auto;
	margin-top: 38px;
	display: flex;
	flex-flow: row wrap;
}

.main-content {
	width: 294px;
	margin: 0 71px 47px 0;
}

.gallery div:nth-child(3n+3) {
	margin: 0;
}

.main-content-img {
	height: 301px;
	position: relative;
}

.main-content-img:hover:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(200, 164, 164, 0.55);
	position: absolute;
	top: 0;
	left: 0;
}

.icn-fifty:after {
	content: "-50%";
	display: block;
	padding: 12px 5px;
	background-color: #E97171;
	border-radius: 50%;
	position: absolute;
	right: 8%;
	top: 5%;
	color: #fff;
}

.icn-new {
	display: block;
	padding: 12px 7px;
	background-color: #2EC1AC;
	border-radius: 50%;
	position: absolute;
	right: 8%;
	top: 5%;
	color: #fff;
	font-size: 16px;
} 

.icn-star:after {
	content: "";
	background-image: url("../img/star.svg");
	display: block;
	width: 48px;
	height: 48px;
	background-color: #EAD836;
	border-radius: 50%;
	position: absolute;
	right: 8%;
	top: 5%;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center;
} 

.main-content-img img {
	width: 100%;
	height: 100%;
}

.main-content-text {
	padding: 16px 0 30px 16px;
	background-color: #F4F5F7;
	display: flex;
	flex-direction: column;
}

.content-name {
	font-size: 24px;
	line-height: 29px;
	color: #3A3A3A;
	font-weight: 600;
	margin-bottom: 8px;
}

.content-kinds {
	font-size: 16px;
	line-height: 24px;
	color: #898989;
	margin-bottom: 8px;
}

.several-prices {
	display: flex;
	align-items: center;
}

.content-price {
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	color: #3A3A3A;
	margin-right: 16px;
}

.content-price-crossed {
	font-size: 16px;
	line-height: 24px;
	color: #B0B0B0;
	text-decoration-line: line-through;
}

.footer-items {
	width: 422px;
	display: flex;
	justify-content: space-between;
}

.footer-nav {
	font-size: 18px;
	line-height: 21px;
	font-weight: 600;
	color: #3A3A3A;
}

.footer-item-link {
	text-decoration: none;
	text-transform: uppercase;
	color: #3A3A3A;
}

